{
  auto_https off
}

:80, :443 {

    handle_path /api/* {

        header Server "new-server"

        reverse_proxy backend:80 {
            header_up proxy-added-up "up"
            header_up -client-header
            header_up client-header-persistant "new-value"

            header_down proxy-added-down "down"
            header_down -proxy-added-up
        }
    }

    # Default response for all other requests
    handle {
        respond "Welcome to yourdomain.com" 200
    }
}
